<h1>{{title}}</h1>
<hr>
<h3>Chapter 1: Interpollation</h3>
<app-passvalue-typescript></app-passvalue-typescript>
<hr>
<h3>Chapter 2: Create Component Inside Module</h3>
<app-login></app-login>
<app-register></app-register>
<app-profile></app-profile>
<hr>
<h3>Chapter 3: Call Function and Click Event</h3>
<app-click-function-event></app-click-function-event>
<hr>
<h3>Chapter 4: Angular Property Binding </h3>
<app-property-binding></app-property-binding>
<hr>
<h3>Chapter 5 :Angular Event Binding </h3>
<app-event-binding></app-event-binding>
<hr>
<h3>Chapter 6 :Angular Class Binding </h3>
<app-class-binding></app-class-binding>
<hr>
<h3>Chapter 7 :Two way data Binding </h3>
<app-two-way-binding></app-two-way-binding>
<hr>
<h3>Chapter 8 :Condition Statement</h3>
<app-condition-statement></app-condition-statement>
<hr>
<hr>
<h3>Chapter 9 : Pass Data from Parent to Child </h3>
<app-child1 [nValue]="value" [cData]="data"></app-child1>
<hr>
<h3>Chapter 10 : Pass Data from Child to Parent </h3>
<app-child2 (formParent)="formParent($event)"></app-child2>
<h4>Sync Data render here</h4>
<ul>
    <li> Name : {{channelName}}</li>
    <li> Course : {{courseName}}</li>
</ul>
<hr>
<h3>Chapter 11 : Angular Predefined Pipes </h3>
<app-angular-pipes></app-angular-pipes>
<hr>
<h3>Chapter 12 : Angular Custom Pipes </h3>
<app-custom-pipes></app-custom-pipes>
<hr>
<h3>Chapter 13 : Angular Custom Directives </h3>
<app-custom-directives></app-custom-directives>
<hr>
<h3>Chapter 14 : Angular Services  </h3>
<app-display-user></app-display-user>
<hr>
<h3>Chapter 15 : Angular Routing  </h3>
<app-angular-routing-demo></app-angular-routing-demo>
<hr>
<h3>Chapter 16 : Angular Module Routing  </h3>
<app-module-routing></app-module-routing>
<hr>
<h3>Chapter 17 : Angular Grouping Routing  </h3>
<app-group-routing></app-group-routing>
<hr>
<h3>Chapter 18 : Error Page 404 </h3>
<hr>
<h3>Chapter 19 : Get Data By Using HttpClient </h3>
<app-display-api-data></app-display-api-data>
<hr>
